APP_NAME=C-Portal

DB_PATH=hotspot.db

APP_SECRET=change_me
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change_me
ADMIN_COOKIE=hotspot_admin

DEVICE_LIMIT=3
PENDING_MINUTES=10
DEVICE_SYNC_INTERVAL=300

MT_HOST=192.168.88.1
MT_PORT=8728
MT_USER=api-read
MT_PASS=change_me